<h1>Listar Filmes</h1>

<div class="add"><%= link_to 'Add New Movie', new_movie_path, class:"btn btn-add" %></div>

<div class="search">
  <%= form_tag(movies_path, :method => 'get') do %>
    <div class="search">
      <%= text_field_tag :search, params[:search] %>
      <button class="btn" type="submit">Search</button>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Year</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %> 
      <tr>
        <td class="name"><%= link_to movie.name, movie_path(movie) %></td>
        <td class="price"><%= movie.price %></td>
        <td class="year"><%= movie.year %></td>
        <td class="description"><%= movie.description %></td>
        <td class="action">
          <%= link_to 'Edit', edit_movie_path(movie), class:"btn" %> | 
          <%= 
            link_to 'Delete', destroy_movie_path(movie), 
              class:"btn btn-delete", 
              data:{confirm: 'Are you sure?'}, 
              :method => :delete 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
