<div id="show">
	<h2 class="name"><%= @movie.name%> <small class="year">(<%= @movie.year%>)</small></h2>
	<%= link_to 'Editar', edit_movie_path(@movie), class:"btn btn-edit"%>
	<p class="desc"><%= @movie.description%></p>
	<p class="price">R$ <%= @movie.price%></p>
	<%= link_to '<< Voltar a lista de filmes', movies_path, class:"btn"%>
</div>